---
import { SmartImage } from "../../utils/SmartImage";
---

<section
  class="relative z-10 mx-auto w-full max-w-7xl px-4 pb-12 sm:px-6 sm:pb-14 md:px-8 md:pb-16 xl:px-10 xl:pb-20"
>
  <div
    class="relative overflow-hidden rounded-2xl sm:rounded-3xl border border-[#00A9BD]/40 shadow-[0px_0px_30px_0px_#00A9BD40]"
  >
    <!-- تصویر پس‌زمینه -->
    <SmartImage
      src="/blogs/Story-Back.webp"
      alt=""
      fill={true}
      className="object-cover"
      sizes="(max-width: 768px) 100vw, 1200px"
    />

    <!-- overlay -->
    <div
      class="absolute inset-0 bg-linear-to-r from-[#0B1F2A]/90 to-[#00A9BD]/25"
    >
    </div>

    <!-- محتوا -->
    <div
      class="relative flex min-h-50 flex-col justify-center gap-5 px-5 py-8 text-center
                  sm:min-h-57.5 sm:gap-6 sm:px-10 sm:py-10 sm:text-center
                  lg:min-h-65 lg:flex-row lg:items-center lg:justify-between lg:px-14"
    >
      <!-- متن + دکمه -->
      <div class="w-full max-w-xl text-white mx-auto lg:mx-0 text-center flex items-center justify-center flex-col">
        <h2
          class="text-xl font-semibold leading-tight
                     sm:text-2xl
                     md:text-3xl"
        >
          Let Your Story Move People.
        </h2>
        <p
          class="mt-2 text-xs leading-relaxed text-white/85
                    sm:mt-3 sm:text-sm
                    md:text-base
                    lg:text-lg"
        >
          Tell us what you're building — we'll bring it to life with motion.
        </p>
        <button
          class="mt-5 w-full max-w-60 mx-auto block cursor-pointer rounded-xl
                         bg-linear-to-r from-[#46B6A0] to-[#00A9BD]
                         px-5 py-2.5 text-xs font-medium text-white
                         shadow-[0_12px_30px_-10px_#00A9BD] transition
                         sm:mt-6 sm:mx-0 sm:w-auto sm:px-6 sm:py-3 sm:text-sm
                         hover:opacity-90 active:scale-95"
        >
          Start a Motion Project
        </button>
      </div>

      <!-- تصویر سمت راست -->
      <div
        class="relative hidden w-full max-w-96 self-center
                    sm:block sm:max-w-125
                    lg:max-w-150"
      >
        <SmartImage
          src="/about/svg/Story-Move.svg"

          alt="People discussing creative ideas"
          width={1379}
          height={1224}
          className="object-contain scale-120"
        />
      </div>
    </div>
  </div>
</section>
