---
import PortfolioHero from "./PortfolioHero.astro";
import LogoCaro from "../Shared/LogoCaro.astro";
import {PortfolioShowingSection} from "../../islands/Portfolio/PortfolioShowingSection.tsx";
import { AnimationPortfolioShowcase } from "../../islands/Portfolio/AnimationPortfolioShowcase.tsx";
import { DesignSubscriptionSection } from "../../islands/Portfolio/DesignSubscriptionSection.tsx";
import { DesignPortfolioShowcase } from "../../islands/Portfolio/DesignPortfolioShowcase.tsx";
import { CustomerStoriesShowcase } from "../../islands/Portfolio/CustomerStoriesShowcase.tsx";
---


<div class="flex flex-col gap-3 justify-center items-between">
    <PortfolioHero />
    <LogoCaro />
    <PortfolioShowingSection client:load />
    <AnimationPortfolioShowcase client:load />
    <DesignSubscriptionSection client:load />
    <DesignPortfolioShowcase client:load />
    <CustomerStoriesShowcase client:load />
</div>
