@import "tailwindcss";


.fade-on-scroll {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    will-change: opacity, transform;
}

.fade-on-scroll.is-visible {
    opacity: 1;
    transform: translateY(0);
}
astro-island {
  display: contents !important;
}
/* این باعث میشه astro-island برای layout "شفاف" باشه */
astro-island {
  display: contents !important;
}