---
import CaseStudiesSection from "../../islands/CaseStudiesSection";
import ContactUs from "../../islands/ContactUs";
import UiUxNeed from "../../islands/Shared/UiUxNeed";
import UiUxServicesSection from "../../islands/UiUx/UiUxServicesSection";
import ApproachTimelineSection from "../../islands/Video/ApproachTimelineSection";
import CTA from "../Shared/CTA.astro";
import FeaturesSection from "../Shared/FeaturesSection.astro";
import AdCreativesSection from "./AdCreativesSection.astro";
import AdAssetsGrid from "./AdAssetsGrid.astro";
import LogoCaro from "../Shared/LogoCaro.astro";
import HighPerformingAds from "../../islands/Adcreatives/HighPerformingAds.tsx";
import AdCreativesHero from "../../islands/Adcreatives/AdCreativesHero.tsx";
import AdcreativesBackground from "../../islands/Adcreatives/AdcreativesBackground.tsx";
---

<div class="flex flex-col gap-3 justify-center items-between">
  <AdcreativesBackground client:load/>
  <AdCreativesHero client:load/>
  <AdCreativesSection />
  <FeaturesSection
    title="Excellence in stress-free"
    highlight="Branding & Visual Identity"
    description="We don't treat branding as decoration. We design clear, scalable brand systems that reduce confusion, build trust, and grow with your business — without unnecessary complexity or stress."
  />
  <UiUxNeed client:load />
  <AdAssetsGrid  />
  <UiUxServicesSection client:load />
  <HighPerformingAds client:load />
  <ApproachTimelineSection client:load />
  <CaseStudiesSection client:load />
  <ContactUs client:load />
  <CTA />
  <LogoCaro />
</div>
