---
import StarBackground from "../../islands/StarBackground.tsx";
import {PricingHero} from "../../islands/pricing/components/PricingHero.tsx";
import {ConversionScroll} from "../../islands/pricing/components/ConversionScroll.tsx";

import {MoneyCards} from "../../islands/pricing/components/MoneyCards.tsx";
import DesignCard from "./components/DesignCard.astro";
import QandASection from "../Shared/QandASection.astro";
import EndCard from "./components/EndCard.astro";
import ProcessScrollSection from "../../islands/Shared/ProcessBase";
---






<div class="relative overflow-x-clip">
    <StarBackground client:load/>
    <PricingHero client:load/>
    <div class="relative -mt-16 flex items-center justify-center">
        <MoneyCards client:load/>
    </div>
    <ConversionScroll client:load/>
    <DesignCard />
    <ProcessScrollSection client:visible />
    <QandASection />
    <EndCard />
    <svg   class="absolute -top-200 left-0 w-full h-full pointer-events-none" viewBox="0 0 1440 1236" fill="none" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" >
        <g filter="url(#filter0_f_12_5)">
            <path d="M1011.05 150.035C936.883 123.211 858.399 -19.1649 828.427 -87H1178.77C1202.06 -87 1305.02 13.5885 1392.6 28.9562C1480.19 44.3239 1415.43 191.015 1433.6 252.952C1451.77 314.888 1421.02 433.173 1415.43 456.457C1409.84 479.742 1394.93 603.149 1392.6 670.208C1390.28 737.267 1322.72 731.678 1305.02 798.737C1287.32 865.796 1178.77 857.88 1059.97 876.042C941.171 894.203 865.01 1000.93 740.843 876.042C570.291 704.5 -156.086 837.389 -181.71 798.737C-207.333 760.085 156.285 574.059 231.291 507C306.297 439.941 653.258 641.801 856.846 628.762C1060.43 615.722 1108.88 474.153 1178.77 404.766C1248.65 335.378 1103.76 183.564 1011.05 150.035Z" fill="url(#paint0_linear_12_5)" fill-opacity="0.28"/>
        </g>
        <defs>
            <filter id="filter0_f_12_5" x="-483" y="-387" width="2222.79" height="1622.81" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_12_5"/>
            </filter>
            <linearGradient id="paint0_linear_12_5" x1="729.699" y1="290.615" x2="848.83" y2="726.885" gradientUnits="userSpaceOnUse">
                <stop stop-color="#00A9BD" offset=""/>
                <stop offset="1" stop-color="#00A9BD"/>
            </linearGradient>
        </defs>
    </svg>
</div>
