---
const items = [
    "Short-Form Content",
    "Video Editing",
    "Monthly Retainers",
    "Ad Creative",
    "Content Production",
];
---

<div class="flex flex-col gap-8 md:gap-10 max-w-xs md:max-w-md">

    <h2 class="text-xl md:text-2xl font-bold text-white">
        Content Services
    </h2>

    <ul class="flex flex-col gap-3">
        {items.map((item) => (
                <li class="cursor-pointer text-white text-sm md:text-base hover:text-[#46B6A0] transition-colors duration-300">
                    {item}
                </li>
        ))}
    </ul>

</div>