---
import CreativeDirections from "./CreativeDirections.astro";
import HomeServicesSection from "../../islands/Home/HomeServicesSection";
import QandASection from "../Shared/QandASection.astro";
import VideoWorkShowcaseSection from "../../islands/Shared/VideoWorkShowcaseSection";
import CaseStudiesSection from "../../islands/CaseStudiesSection";
import ContactUs from "../../islands/ContactUs";
import ProcessScrollSection from "../../islands/Home/ProcessScrollSection";
import WhyChooseUs from "./WhyChooseUs.astro";
import TestimonialsSection from "../../islands/Home/TestimonialsSection";
import WorkflowSection from "./WorkflowSection.astro";
import CostVideo from "../Shared/CostVideo.astro";
import HomeBackground from "../../islands/Home/HomeBackground";
import HeroHome from "../../islands/Home/HeroHome";
import {type ContentConfig, type OrbitConfig, OrbitSystem} from "../../islands/Shared/OrbitSystem";

import {buildOrbitIcon} from "../../lib/orbitIcons.ts";
import LogoCaro from "../Shared/LogoCaro.astro";

export const content: ContentConfig = {
  headingHighlight: "Award-level",
  headingMain: "Motion & UI Design",
  headingSecondLine: "crafted every year",
  subheading: "Our team brings years of experience producing high-impact visuals for brands of all sizes. We turn complex ideas into clear, compelling stories through animation, product design and motion-driven content.",
  buttons: [
    { label: "See our work", link: "/work", className: "bg-linear-to-r from-[#00CFE8] to-[#0D8F79]" },
    { label: "Play showreels", link: "/showreels" },
  ]
};

const orbits: OrbitConfig[] = [
  {
    pathD: "M500,10 a470,470 0 1,0 0,1300 a470,470 0 1,0 0,-1300",
    color: "#00A9BD",
    icons: [
      buildOrbitIcon("icon-1", -0.1, 0.4),
      buildOrbitIcon("icon-2", 0.1, 0.6),
      buildOrbitIcon("icon-3", 0.7, 1.2),
      buildOrbitIcon("icon-4", 0.8, 1.3),
      buildOrbitIcon("icon-5", 1.0, 1.5),
    ]
  },
  {
    pathD: "M500,110 a370,370 0 1,0 0,1100 a370,370 0 1,0 0,-1100",
    color: "#00A9BD",
    icons: [
      buildOrbitIcon("icon-6", -0.04, 0.4),
      buildOrbitIcon("icon-7", 0.05, 0.6),
      buildOrbitIcon("icon-8", 0.85, 1.2),
    ]
  },
  {
    pathD: "M500,210 a270,270 0 1,0 0,900 a270,270 0 1,0 0,-900",
    color: "#38B6B3",
    icons: [
      buildOrbitIcon("icon-9", 0, 0.5),
      buildOrbitIcon("icon-10", 0.25, 0.75),
      buildOrbitIcon("icon-11", 0.5, 1.0),
      buildOrbitIcon("icon-12", 0.75, 1.25),
    ]
  }
];
---

<div class="flex flex-col gap-3 items-stretch">
  <HomeBackground client:load/>
  <HeroHome client:visible />
  <CreativeDirections  />
  <OrbitSystem orbits={orbits} content={content} width="1000px" height="1000px" animations={true} client:visible/>
  <LogoCaro tagline=""/>
  <HomeServicesSection client:visible />
  <VideoWorkShowcaseSection client:visible />
  <WhyChooseUs />
  <TestimonialsSection client:visible />
  <WorkflowSection
    cards={[
      {
        title: "Free sample",
        description:
          "Experience our work before committing. We start every project with a free sample so you can see our style, quality and process firsthand. It helps you confirm we're the right fit before anything moves forward.",
        buttonText: "Try our service for free",
        imageUrl: "./home/frame1.png",
      },
      {
        title: "Planning & collaboration",
        description:
          "Here we work with you to develop a clear storyboard and a detailed production plan tailored to your video. This stage keeps everyone aligned and ensures the concept is solid before production begins.",
        buttonText: "Project planning",
        imageUrl: "./home/frame2.png",
      },
      {
        title: "Final delivery",
        description:
          "When the storyboard is approved, we begin full production. Throughout the process, we stay in touch to make sure the final video matches your expectations and delivers exactly what your brand needs.",
        buttonText: "Swift & easy access",
        imageUrl: "./home/frame3.png",
      },
    ]}
  />
  <ProcessScrollSection client:visible />


  <CaseStudiesSection client:load />
  <QandASection  />
  <CostVideo  />
  <ContactUs client:load />
</div>
