---
import { ContactBookingSection } from "../../islands/Contact/ContactBookingSection.tsx";
---

<div class="relative contact-booking-island">
  <ContactBookingSection client:load />
</div>

<style is:global>
  .contact-booking-island > astro-island {
    display: block !important;
  }
</style>
