<div
  class="pointer-events-none absolute inset-0 overflow-x-hidden md:overflow-hidden"
  aria-hidden="true"
>
  <svg
    width="525"
    height="659"
    viewBox="0 0 525 659"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="pointer-events-none absolute -left-10 hidden max-w-none md:block"
    preserveAspectRatio="xMidYMid meet"
  >
    <g filter="url(#filter0_f_2_26252)">
      <ellipse cx="39" cy="228" rx="186" ry="131" fill="#003641"></ellipse>
    </g>
    <defs>
      <filter
        id="filter0_f_2_26252"
        x="-447"
        y="-203"
        width="972"
        height="862"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"
        ></feBlend>
        <feGaussianBlur stdDeviation="148" result="effect1_foregroundBlur_2_26252"></feGaussianBlur>
      </filter>
    </defs>
  </svg>

  <svg
    width="1369"
    height="1585"
    viewBox="0 0 1369 1585"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="pointer-events-none absolute -left-10 hidden max-w-none md:block"
    preserveAspectRatio="xMidYMid meet"
  >
    <g filter="url(#filter0_f_2_26250)">
      <path
        d="M456.721 345.978C511.338 317.011 569.133 163.256 591.204 90H333.217C316.064 90 240.244 198.627 175.747 215.223C111.251 231.819 158.937 390.233 145.557 457.119C132.178 524.005 154.82 651.743 158.937 676.888C163.054 702.033 174.032 835.303 175.747 907.721C177.463 980.139 227.208 974.104 240.244 1046.52C253.281 1118.94 333.217 1110.39 420.698 1130C508.18 1149.62 526.707 1110.39 655.7 1130C784.694 1149.62 1047.04 1320.19 1065.91 1278.45C1084.78 1236.71 1013.26 1139.2 958.03 1066.78C902.796 994.366 720.198 877.044 570.277 862.962C420.356 848.881 384.677 695.998 333.217 621.066C281.756 546.133 388.451 382.187 456.721 345.978Z"
        fill="url(#paint0_linear_2_26250)"></path>
    </g>
    <defs>
      <filter
        id="filter0_f_2_26250"
        x="-159"
        y="-210"
        width="1528"
        height="1795"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"
        ></feBlend>
        <feGaussianBlur stdDeviation="148" result="effect1_foregroundBlur_2_26250"></feGaussianBlur>
      </filter>
      <linearGradient
        id="paint0_linear_2_26250"
        x1="605"
        y1="90"
        x2="605"
        y2="1285"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#003741" stop-opacity="0.5"></stop>
        <stop offset="1" stop-color="#46B6A0" stop-opacity="0.5"></stop>
      </linearGradient>
    </defs>
  </svg>

  <svg
    width="1261"
    height="1795"
    viewBox="0 0 1261 1795"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="pointer-events-none absolute top-300 right-0 hidden max-w-none md:block"
    preserveAspectRatio="xMidYMid meet"
  >
    <g filter="url(#filter0_f_2_26251)">
      <path
        d="M912.279 555.978C857.662 527.011 799.867 373.256 777.796 300H1035.78C1052.94 300 1128.76 408.627 1193.25 425.223C1257.75 441.819 1210.06 600.233 1223.44 667.119C1236.82 734.005 1214.18 861.743 1210.06 886.888C1205.95 912.033 1194.97 1045.3 1193.25 1117.72C1191.54 1190.14 1141.79 1184.1 1128.76 1256.52C1115.72 1328.94 1035.78 1320.39 948.302 1340C860.82 1359.62 842.293 1320.39 713.3 1340C584.306 1359.62 321.957 1530.19 303.088 1488.45C284.22 1446.71 355.736 1349.2 410.97 1276.78C466.204 1204.37 648.802 1087.04 798.723 1072.96C948.644 1058.88 984.323 905.998 1035.78 831.066C1087.24 756.133 980.549 592.187 912.279 555.978Z"
        fill="url(#paint0_linear_2_26251)"></path>
    </g>
    <defs>
      <filter
        id="filter0_f_2_26251"
        x="0"
        y="0"
        width="1528"
        height="1795"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"
        ></feBlend>
        <feGaussianBlur stdDeviation="148" result="effect1_foregroundBlur_2_26251"></feGaussianBlur>
      </filter>
      <linearGradient
        id="paint0_linear_2_26251"
        x1="764"
        y1="300"
        x2="764"
        y2="1495"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#003741" stop-opacity="0.5"></stop>
        <stop offset="1" stop-color="#46B6A0" stop-opacity="0.5"></stop>
      </linearGradient>
    </defs>
  </svg>

  <svg
    width="1393"
    height="1780"
    viewBox="0 0 1393 1780"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="pointer-events-none absolute top-200 hidden max-w-none md:block"
    preserveAspectRatio="xMidYMid meet"
  >
    <g filter="url(#filter0_f_2_26408)">
      <path
        d="M294.739 537.035C368.906 510.211 447.391 367.835 477.362 300H127.023C103.73 300 0.770264 400.588 -86.8145 415.956C-174.399 431.324 -109.642 578.015 -127.812 639.952C-145.981 701.888 -115.233 820.173 -109.642 843.457C-104.052 866.742 -89.1438 990.149 -86.8145 1057.21C-84.4851 1124.27 -0.203613 839.441 17.4996 906.5C35.2029 973.559 -193.798 1143.34 -75.0004 1161.5C43.7974 1179.66 -48.1461 1341.34 127.023 1359.5C302.193 1377.66 849.878 1511.65 875.501 1473C901.124 1434.35 1153.51 1279.06 1078.5 1212C1003.49 1144.94 636.087 856.496 432.5 843.457C228.912 830.418 196.905 861.153 127.023 791.766C57.1418 722.378 202.029 570.564 294.739 537.035Z"
        fill="url(#paint0_linear_2_26408)"
        fill-opacity="0.5"></path>
    </g>
    <defs>
      <filter
        id="filter0_f_2_26408"
        x="-434"
        y="0"
        width="1826.37"
        height="1779.97"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"
        ></feBlend>
        <feGaussianBlur stdDeviation="148" result="effect1_foregroundBlur_2_26408"></feGaussianBlur>
      </filter>
      <linearGradient
        id="paint0_linear_2_26408"
        x1="496.099"
        y1="300"
        x2="224.001"
        y2="883.5"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#46B6A0" stop-opacity="0.5"></stop>
        <stop offset="1" stop-color="#003741" stop-opacity="0.5"></stop>
      </linearGradient>
    </defs>
  </svg>
</div>
