---
import { BrandingHeroWrapper } from "../islands/branding/BrandingHeroWrapper";
import ContactUs from "../islands/ContactUs";
import FeaturesSection from "./Shared/FeaturesSection.astro";
import StarBackground from "../islands/StarBackground";
import QandASection from "./Shared/QandASection.astro";
import LogoCaro from "./Shared/LogoCaro.astro";
import { WhatIsBranding } from "../islands/branding/WhatIsBranding.tsx";
import { ServicesSection } from "../islands/branding/ServicesSection.tsx";
import { AssetsGallerySection } from "../islands/branding/AssetsGallerySection.tsx";
import { WhyBrandingSection } from "../islands/branding/WhyBrandingSection";
import CTA from "./Shared/CTA.astro";
---

<div class="relative overflow-x-clip">
  <StarBackground client:load />
  <BrandingHeroWrapper client:load />
  <LogoCaro />
  <WhatIsBranding client:load />
  <FeaturesSection
    title="Excellence in stress-free"
    highlight="Branding & Visual Identity"
    description="We don't treat branding as decoration. We design clear, scalable brand systems that reduce confusion, build trust, and grow with your business — without unnecessary complexity or stress."
  />
  <ServicesSection client:load />
  <AssetsGallerySection client:load />
  <WhyBrandingSection client:load />
  <QandASection />
  <ContactUs client:load />
  <CTA client:load />
</div>
