---
import AdminCaseStudyHero from "../../islands/Admin/AdminCaseStudyHero";
import AdminCaseStudyTabsSection from "../../islands/Admin/AdminCaseStudyTabsSection";
import AdminVisualProofSection from "../../islands/Admin/AdminVisualProofSection";
import CaseStudiesSection from "../../islands/CaseStudiesSection";
import ContactUs from "../../islands/ContactUs";
import CaseBackground from "../../islands/Case/CaseBackground";
---

<div class="flex flex-col gap-3 justify-center items-between">
  <CaseBackground client:load />
  <AdminCaseStudyHero client:load />
  <AdminVisualProofSection client:load />
  <AdminCaseStudyTabsSection client:load />
  <CaseStudiesSection client:load />
  <ContactUs client:load />
</div>
