---
import ProjectProcess from "../../islands/Case/ProjectProcess"
import CaseStudyHeader from "./CaseStudyHeader.astro"
import VideoGrid from "./VideoGrid.astro"
---


<div class="flex flex-col gap-3 justify-center items-between">
<CaseStudyHeader 
  title="SeoGate"
  imageUrl="/images/seogate-hero.png"
  startDate="2024/06/14"
/>
<ProjectProcess/>
<VideoGrid />
</div>
