---
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Admin — EyesON</title>
  </head>
  <body class="bg-[#000E17] text-white overflow-x-hidden">
    <slot />
  </body>
</html>
