---
import Header from "../components/Shared/Header.astro";
import Footer from "../components/Shared/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>EyesOn Agency</title>
  </head>

  <body class="bg-[#000E17] text-white overflow-x-hidden">
    <Header />

    <main class="min-w-0 overflow-x-hidden">
      <slot />
    </main>

    <Footer />
  </body>
</html>
