---
import SettingsPanel from "../../islands/Admin/SettingsPanel";
import AdminGuard from "../../islands/Admin/AdminGuard";
import "../../styles/global.css";
---
<div class="min-h-screen p-6 bg-[radial-gradient(ellipse_at_top_right,_#062428,_#001219)]">
  <div class="max-w-4xl mx-auto">
    <AdminGuard client:only="react">
      <SettingsPanel client:load />
    </AdminGuard>
  </div>
</div>
